@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Library.Repositories.Interfaces;
@{
    ViewData["Title"] = "Point d'intérêt (détail)";
}
@inject IAddressRepository _addressRepository;
@inject ICategoryRepository _categoryRepository;
@model InterestPoint;

<div class="row">
    <div class="col-md-12">
        <h1>Détail d'un point d'intérêt <small>/interestpoint/detail</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form" asp-action="Detail">

            <input type="hidden" 
                value="@Model?.Id" asp-for="Id" />
            <div>
                <label for="Name" class="control-label">Nom du point d'intérêt :</label>
                <input type="text" class="form-control"
                    id="Name" placeholder="Nom du point d'intérêt"
                    value="@Model?.Name" asp-for="Name" />
            </div>
            <br />
            <div>
                <label for="Description" class="control-label">Description du point d'intérêt :</label>
                <input type="text" class="form-control"
                    id="Description" placeholder="Description du point d'intérêt"
                    value="@Model?.Description" asp-for="Description" />
            </div>
            <br />
            <div>
                <label for="CategoryId">
                    Catégorie : 
                </label>
               @Html.DropDownListFor(
                    p => p.CategoryId,
                    new SelectList(
                        _categoryRepository.GetAll(), 
                        "Id", 
                        "Name"),
                    "<Sélectionnez une catégorie>",
                    new { @class = "form-control" })
            </div>
            <br />

            <div>
                <label for="AddressId">
                    Adresse : 
                </label>
               @Html.DropDownListFor(
                    p => p.AddressId,
                    new SelectList(
                        _addressRepository.GetAll(), 
                        "Id", 
                        "Name"),
                    "<Sélectionnez une adresse>",
                    new { @class = "form-control" })
            </div>
            <br />

            <input type="submit" class="btn btn-primary"
                value="Valider" />
            <a class="btn btn-default" 
                asp-controller="InterestPoint" asp-action="Index">Annuler</a>
        </form>
    </div>
</div>